@import '../../color.scss';

header {
    display: flex;
    justify-content: space-around;
    padding: 0.2 0.8em;
    background-color: $dark;
    color: white;

    a {
        all: unset;
        padding: 0.8em;
        cursor: pointer;
        background-color: $solid;
        border-radius: 0.4em;
        transition: all 0.5;

        a:hover {
            background-color: $darkest;
            color: white;
        }
    }



}